@import "~@taiga-ui/core/styles/taiga-ui-local";
$white: rgb(255, 255, 255);
$blue: rgb(49, 109, 246);
$grey: #2f3940;

:host {
}

.skill {
    position: relative;
    border: 1px solid #36393e;
    border-radius: 5%;
    width: 44px;
    height: 44px;
    overflow: hidden;
    cursor: pointer;
    filter: grayscale(0);
}

/* Prevents you from clicked the button multiple times */
.skill.disabled {
    pointer-events: none;
}

/* Makes sure we click the skill not anything in it */
.skill > * {
    pointer-events: none;
}

.skill::before {
    content: "";
    // background: conic-gradient(rgba(0, 0, 0, 0.7) var(--time-left), rgba(0, 0, 0, 0.1) var(--time-left));
    position: absolute;
    opacity: 0.8;
    top: 0;
    left: 0p;
    height: 100%;
    width: 100%;
}

.cooldown {
    top: 50%;
    left: 50%;
    transform: translate(35%, -200%);
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.container {
    // background: rgba(29,29,29,255);
    // background-color: rgba(29,29,29, 0.5)
}

.icons8 {
    margin-bottom: 1.5rem;

    &-icon {
        width: 4rem;
    }

    &-label {
        font-weight: bold;
        display: inline-block;
        padding: 0.25rem 0.625rem;
        color: #fff;
        border-radius: 0.25rem;

        &-violet {
            background: $white;
        }

        &-blue {
            background: $blue;
        }
    }

    &-white {
        color: $white;
    }

    &-blue {
        color: $blue;
    }

    &-grey {
        color: $grey;
    }
}

.cooldown-row {
    margin-left: 0.5rem;
}

.titlebar-window-name {
    color: var(--tui-text-01-night)
}

.titlebar {
    outline: 30px;
    outline-color: var(--tui-text-01-night)
}